<div class="menu">
    <a href='/'>home</a>
    <% if(typeof user_id !='undefined'){%>
        <a href='/profile/me'>Profile@<%=user_id%></a>
        <a href='/logout'>Logout</a>
        <%}else{%>
            <a href='/login'>Log in</a>
            <a href='/signup'>Sign up</a>
            <%}%>
                <a href='/users'>Our users</a>
</div>