<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible content=IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="/css/mainStyle.css">
<link rel='stylesheet' href='/css/adminPanel.css'>
<script src='/public/scripts/adminPanel.js'></script>
<title>ConvFourier</title>
<div style="text-align: center;">
    <h2>ConvFourier</h2>
    <hr>
</div>
</head>

<body>
    <h3 class='cetnered_header'>Add new product</h3>
    <div>
        <form class='add_div' method="POST" action="/inventory" enctype="multipart/form-data" id='add_form'>
            <label for="product_name">product name </label>
            <input type="text" name="product_name" id="product_name" required>
            <label for="price">price </label>
            <input type="number" id="price" name="price" required>
            <label for="product_desc">product description </label>
            <input type='text' id="product_desc" name="product_desc">
            <label for="image">image</label>
            <input type="file" name="image" id='image'>
            <input class ='add_btn' type="button" onclick="postData()" value="Add new product">
        </form>
    </div>
    <h3 class='cetnered_header'>Edit inventory details</h3>
    <div id='tablediv'>
    </div>
</body>