<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible content=IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" href="/images/7777.png">
<link rel="stylesheet" href="/css/mainStyle.css">
<link rel='stylesheet' href='/css/inventory.css'>
<title>ConvFourier</title>
<%- include('./partials/menu')%>
    <div style="text-align: center;">
        <h3>ConvFourier</h3>
        <hr>
    </div>

    </head>

    <body>

        <h1 class='cDiv'>profile</h1>
        <div>
            <table class='Xtable'>
                <tr>
                    <td>username</td>
                    <td id='username'></td>
                </tr>
                <tr>
                    <td>email</td>
                    <td id='email'></td>
                </tr>
                <tr>
                    <td>gender</td>
                    <td id='gender'></td>
                </tr>
                <tr>
                    <td>date of birth</td>
                    <td id='dateofbirth'></td>
                </tr>
            </table>
        </div>
        <div id="store"></div>

<script type="module">
    import {createCardHTML} from '/scripts/componentGenerator.js';
    async function getCartData() {
        document.getElementById('store').innerHTML = "<h3>Loading ...</h3>";
        const res = await fetch(`/cart`, {
            method: 'GET'
        })
        if (res.ok)
            loadCartData(await res.json());
        else {
            alert(`error loading cart \n${await res.statusText}\n${await res.text()}`);
        }
    }
    function loadCartData(data) {
        document.getElementById("store").innerHTML = ""
        let innerHTML = "";
        for (let item of data) 
            innerHTML += createCardHTML(item,'Remove','card_onclick')
            
        document.getElementById("store").innerHTML = innerHTML
    }
    getCartData()
</script>

<script>
async function getUserData() {
    const res = await fetch(`/users/me`, {
        method: 'GET'
    });
    if (res.ok)
        loadUserData(await res.json());
    else {
        document.body.innerHTML = "<h1>Can't get user</h1>" + res.statusText;
    }
}
function loadUserData(data) {
    document.getElementById('username').innerText = data.username;
    document.getElementById('email').innerText = data.email;
    document.getElementById('gender').innerText = data.gender;
    document.getElementById('dateofbirth').innerText = data.birth;
}



async function card_onclick(product_id)
{
    const res = await fetch(`/cart`, {
        method: 'DELETE',
        body:JSON.stringify({"product_id":product_id}),
        headers:{
                'Content-Type': 'application/json'
            }
    });
    if (res.ok)
    {   alert('item removed')
        location.reload()    
    }
        else 
        alert(await res.status+await res.statusText+await res.data);
    
}
getUserData(window.location.pathname.split('/')[2])
</script> 
</body>

</html>