<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible content=IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" href="/images/7777.png">
<link rel="stylesheet" href="/css/mainStyle.css">
<link rel="stylesheet" href="/css/store.css">

<title>ConvFourier</title>
<%- include('./partials/menu')%>

    <body>
        <h1 class='cDiv'>profile</h1>
        <div>
            <table class='Xtable'>
                <tr> <td>username</td><td id='username'></td></tr>
                <tr> <td>email</td><td id='email'></td></tr>
                <tr><td>gender</td><td id='gender'></td></tr>
                <tr><td>date of birth</td><td id='dateofbirth'></td></tr></table>
        </div>
        <div><button onclick="order_onclick()">order your cart items now</button></div>
        <div class="store" id="cart"></div>
        <div class='store' id="orders"></div>
        <script type="module" src="../public/scripts/loadUserCart.js"></script>
        <script src="../public/scripts/profile.js"></script>
    </body>

</html>