input[type='text'],
input[type='email'],
input[type='password'],
input[type='button'],
input[type='submit'],
.cBtn {
    border: 1px solid #ccc;
    height: 25px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

body {
    font-family: sans-serif;
    background-color: rgb(252, 254, 255);
}

.cDiv {
    margin: auto;
    width: 300px;
    text-align: center;
}

.iborder {
    border: 1px solid #ccc;
}

.Xtable {
    width: 90%;
    border: 1px solid #ccc;
    margin: auto;
    padding: 8px;
    margin: auto;
}
.menu {
    text-align: center;
    display:grid;
    grid-template-columns:auto 1fr auto auto auto;
    background-color: rgb(49, 49, 49); 
    margin:0px;
    width:100%;
}

.menu a:link,
.menu a:visited {
    background-color: rgb(49, 49, 49);
    padding: 0px 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: auto;
}

.menu a:hover,
.menu a:active {
    background-color: rgb(104, 104, 104);
    padding: 8px 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: auto;
}