*{
    margin:0px;
    padding:0px;
    max-width: 100%;
}
.store {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5px;
    margin: 1px;
}
.quantity {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 2fr;
    place-items: center;
    justify-content: center;
    grid-gap: 5px;
    margin: 2px;
}

.quantity button {
    border: none;
    color: black;
    background-color: #ffffff;
    border: 1px solid rgb(150 150 150);
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    border-radius: 300px;
}

.card {
    text-align: center;
    font-family: arial;
    border: 1px solid rgb(174 174 174);
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    justify-items: center;
    grid-gap: 0px;
    max-height:350px;
    max-width: 350px;
}

.card_details
{
    text-align: center;
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-items: center;
    align-content: center;
    grid-gap: 5px ;
    max-height:315px;
    width:100%;
   
}
.card>button {
    border: none;
    color: black;
    background-color: #dfd60a;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    height: 100%;
    height: 35px;
    align-self: end;
}

.img_wrapper {
    width: 100%;
    height:150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    max-height: 100%;
}

.product_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card button:hover {
    opacity: 0.75;
}

.product_desc{
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 65px;
    align-self: start;
}

.product_price {
    color: rgb(32, 32, 32);
    font-size: 16px;
}