
input[type='text'],
input[type='email'],
input[type='password'],
input[type='button'],
input[type='submit'],
.cBtn
{
    border:1px solid #ccc;   
    height:25px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

body{
    font-family:  sans-serif;
    background-color: rgb(252, 254, 255);
}
.cDiv{
    margin: auto;
    width:300px;
    text-align: center;
}
.iborder{
    border:1px solid #ccc;
}
.Xtable{
    width:90%;
    border:1px solid #ccc;  
    margin:auto;
    padding:8px;
 }
